.card-product {
  display: flex;
  flex-direction: column;
  width: min(100%, 300px);
}

.container-image {
  display: flex;
  justify-content: center;
  position: relative;

  & > img {
    border-radius: var(--rounded-md);
    height: 250px;
    object-fit: cover;
    width: 100%;
    border: 2px solid var(--red);
  }

  & > button {
    align-items: center;
    background-color: var(--rose-50);
    border: 2px solid var(--red);
    border-radius: var(--rounded-full);
    bottom: 0;
    display: flex;
    font-size: var(--text-lg);
    font-weight: var(--font-semibold);
    gap: 10px;
    padding: 15px 30px;
    position: absolute;
    transform: translateY(50%);

    & img {
      height: 25px;
      width: 25px;
    }
  }
}

.counter-product {
  align-items: center;
  background-color: var(--red);
  border: 2px solid var(--red);
  border-radius: var(--rounded-full);
  bottom: 0;
  display: flex;
  font-size: var(--text-lg);
  font-weight: var(--font-semibold);
  gap: 30px;
  padding: 15px 30px;
  position: absolute;
  transform: translateY(50%);

  & > button {
    background-color: transparent;
    border: 2px solid var(--rose-50);
    border-radius: var(--rounded-full);
    cursor: pointer;
    display: grid;
    height: 25px;
    padding: 5px;
    place-items: center;
    width: 25px;

    & img {
      height: 10px;
      width: 10px;
    }
  }

  & span {
    color: var(--rose-50);
    font-weight: var(--font-semibold);
  }
}

.card-metadata {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  padding-top: 40px;

  & span:first-child {
    color: var(--rose-400);
  }

  & h5 {
    color: var(--rose-900);
    font-size: var(--text-lg);
    font-weight: var(--font-bold);
  }

  & span:last-child {
    color: var(--red);
    font-size: var(--text-xl);
    font-weight: var(--font-bold);
  }
}
