* {
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: var(--text-base);
  font-weight: var(--font-regular);
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
}
